<div class="footer">
  <div class="row text-center">
    <ul class="list-inline">
      <li>
        <div class="image-with-title text-center">
          <%=image_tag "comm_icon_refund.png" %>
            30天无忧退款
        </div>
      </li>
      <li>
        <div class="image-with-title text-center">
          <%=image_tag "comm_icon_free.png" %>
            满88元免邮费
        </div>
      </li>
      <li>
        <div class="image-with-title text-center">
          <%=image_tag "comm_icon_quantity.png" %>
          品质保证
        </div>
      </li>
    </ul>
  </div>

  <p class="copyright">
   Copyright ©️ 2017 童婴严选 Designed by 唐永琛 | 张行知
  </p>
  </div>
</div>
