<h2>
  收藏夹
</h2>
<table class="table table-boderness">
  <thead>
    <th>
      #
    </th>
    <th>
      商品名称
    </th>
    <th>
      商品预览图
    </th>
    <th>
      收藏时间
    </th>
    <th>
      编辑
    </th>
  </thead>
  <tbody>
    <% unless @favorites.blank? %>
      <% @favorites.each do |fav| %>
        <tr>
          <td>
            #
          </td>
          <td>
            <%= link_to(fav.product.title, product_path(fav.product))%>
          </td>
          <td>
            <%= link_to(image_tag(fav.product.image, :width => 80, :height => 80), product_path(fav.product)) %>
          </td>
          <td>
            <%= fav.created_at.strftime("%Y-%m-%d") %>
          </td>
          <td>
            <%= link_to("取消收藏", favorite_path(fav), method: :delete, class:"btn btn-sm btn-danger") %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
