<div class="container-fluid address-page">
  <%= render "addresslist"%>
  <div class="row text-center">
    <div class="row">
      <div class="flickr_pagination">
        <%= will_paginate  @addresses, :container => false %>
      </div>
    </div>
  </div>
</div>
