/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

.navbar .navbar-brand{
  color: #ccc;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  color: #ccc;
}

.navbar-default .navbar-nav > li > a {
    color: #ccc;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #777;
}

.admin_body_container > .container-fluid {
  width: 1200px;
}

.body_container > .container-fluid {
  width: 1200px;
}

.admin_proudct_table{
  border: solid 3px #dcdcdc;
  box-shadow: 0 0 4px 1px #f2f2f2;
}

.admin_proudct_table th{
  background-color: #f2f2f2;
  color: #1366af;
  font-size: 18px;
  font-weight: 200;
};

.admin_proudct_table td{
  font-size: 16px;
  font-weight: 100;
}

.admin_btn_new{
  margin-bottom: 40px;
  margin-right: 100px;
}

.admin_product_info{
  font-size: 24px;
  margin: 5px 0;
}

.admin_product_info a{
  width: 120px;
  margin-top: 50px;
}

.admin_product_info .admin_product_info_title{
  font-size: 30px;
  margin: 10px 20px 10px 0;
}

.product_thumbnail img{
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: auto;
  object-fit: cover;
}

.product-detail-info{
  margin-top: 30px;
  margin-bottom: 60px;
}

.product_thumbnail{
  width: 100%;
  height: 200px;
  margin-bottom: 80px;
}

.body_container{
  margin-bottom: 20px;
}

.products{
  border-top: none !important;
}

.products .table,
.products .table th,
.products .table tr,
.products .table td{
  border:none !important;
}


.btn-confirm-buy{
  margin: 50px 0px 100px 0;
}

.cart_title{
  font-size: 30px;
  margin: 10px 50px 10px 20px;
}

.btn-add-to-cart{
  width: 150px !important;
  margin-right: 30px;
}

.order_state{
  font-size: 30px;
  color:red;
}

#btn-cancel-order{
  margin-right: 10px;
}

// comm
.image-with-title > img{
  display: inline-block;
  width: 30px;
  margin-right: 10px;
}

.image-with-title {
  min-width: 100px !important;
}


.footer .list-inline > li {
  width: 20% !important;
}

.footer {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #414141;
  text-align: center;
}

.footer .copyright{
  margin: 20px 0;
}

.footer > hr {
  color: #999999;
}

.site-info {
  color: white;
}
.site-info .split{
  margin: auto 10px;
}

.site-info .text{
  color: #999999;
}

.site-info .copyright{
      font-size: 18px;
      color: #999999;
      margin-top: 4px;
}

// navbar
.navbar-default {
    background-color: #414141;
    border-color: #414141;
    margin-bottom: 0;
    height: 40px;
    vertical-align: middle;
    margin-left: -15px;
    margin-right: -15px;
  }

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.alert{
  margin-top: 10px;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.list-inline > li {
    width: 10%;
}

.product-image{
  width: 320px;
  height: 320px;
  border: solid 1px;
  border-color: #eee;
}

.product-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-small-image img{
  width: 100%;
  height: 80px;
  border: solid 1px;
  border-color: #eee;
  object-fit: cover;
}

.product-small-image{
  width: 80px;
  height: 80px;
}

.safe-info .interspace{
  width: 13px;
  height: 12px;
  vertical-align: middle;
  display: inline-block;
}

.product-info{
  background: #f5f3e0;
      color: #666;
  padding: 12px 20px;
  margin-top: 24px;
}

.product-info .num{
    font-size: 28px;
    line-height: 30px;
    margin-left: 2px;
    color: #d7282d;
}
.product-info > div{
  margin: 10px
}

.sale-info .server{
  display: inline-block;
}

.sale-info .row{
  margin-top: 10px;
}

.sale-info .fa-circle{
  margin-right: 5px;
  font-size: 4px;
}

.detail-btn-add-to-cart{
  display: inline-block;
  margin-left: 30px;
}
.product-info .left-title{
    margin-right: 20px;
}

.product-info .title{
  float: left;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 7px;
}

.product-info .sub-title{
    width: 300px;
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 13px;
    line-height: 18px;
    color: #999;
}
.btn-favorite{
    width: 60px;
    height: 45px;
    font-size: 12px;
    margin-left: 30px;
}

.other-views{
    height: 44px;
    line-height: 44px;
    font-size: 17px;
    position: relative;
    background-color: #f5f5f5;
    margin: 24px;
    width: 100%;
    overflow: hidden;
    margin-top: 22px;
    border: 1px solid #e8e8e8;
}

.other-views .header{
    text-indent: 18px;
    background-color: #f5f5f5;
}

.other-views .header .item .show {
    display: inline-block;
}

.other-views .content .item {
    display: none;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.sum-info{
margin: 20px;
}

.sum-info .item{
  padding: 8px 30px;
  float: left;
  min-width: 50%;
  line-height: 24px;
  font-size: 14px;
  border-bottom: 1px dashed #e8e8e8;
}
.sum-info .name{
  display: block;
  width: 105px;
}

.sum-info .value{
    float: left;
    color: #999;
}

.sum-images{
  margin-top: 40px;
  margin-left: 20px;
}

.right{
  float: right;
  width: 300px;
  margin-top: 20px;
  margin-right: 40px;
}

.hot24{
    border: 1px solid #e8e8e8;
    margin-bottom: 20px;
    margin-left: -20px;
}

.hotSell .item {
    margin-top: 24px;
    margin-left: -15px;
}


.hot24 .header{
    line-height: 41px;
    background-color: #f5f5f5;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

.hot24 ol, ul{
  list-style: none;
}

.hot24 .img-wrap{
    position: relative;
}

.hot24 .img-wrap .colorNum{
  position: absolute;
  font-size: 12px;
  color: #a7936e;
  border: 1px solid #b3a07d;
  border-radius: 5px;
  height: 20px;
  text-align: center;
  left: 0;
  padding: 0 4px;
}

.hotSell .item {
    margin-top: 24px;
}
.hotSell .item .content {
    padding: 0 5px 18px;
}

.hotSell .item .content .title {
    margin-bottom: 8px;
    text-align: center;
}

.hotSell .item .content .price {
    font-size: 14px;
    line-height: 1;
    color: #d62525;
    text-align: center;
}

.new_user{
  margin: 20px;
}


// cart page
.cart-content .header > div {
  display: inline-block;
  margin: 20px 0px;
}
.cart-content .header{
    margin: 20px 0px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

.cart-content .m-boby{
    margin: 20px 0px;

}
.cart-content .m-boby  .inner-item{
    display: inline-block;
}

.cart-content .m-boby  .item{
    margin: 10px 0px;

}

.cart-content .m-boby .adjust-quantity{
  border: 1px solid #ddd;
  display: inline-block;
}

.cart-content .m-empty .row{
  margin: 20px;
}

.cart-content .m-empty .msg{
  font-size: 20px;
  color: #aaa;;
}
.cart-content .fa-shopping-cart{
  font-size: 40px;
  color: #e35150;
}

.cart-content .btn-primary{
  background: #e35150;
  font-size: 24px;
  border: 0px;
  width: 150p
}

.cart-content .btn-primary:active{
  background: rgba(227, 81, 80, 0.87);
}


.inner-item .adjust-quantity{
  padding: 0px;
}
.inner-item .adjust-quantity .adjust-item-num{
  display: inline-block;
}
.adjust-quantity .adjust-item-add{
  border: 0px solid #ddd;
  border-left-width: 1px;
  display: inline-block;
}

.adjust-quantity .adjust-item-minus{
  border:0px solid #ddd;
  border-right-width: 1px;
  display: inline-block;
}

.adjust-quantity .adjust-item-add > a{
  color: #ddd;
}

.adjust-quantity .adjust-item-minus > a{
  color: #ddd;
}

.cart-content .footer {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  height: 66px;
  color: #333;
  margin: 20px 0px;
}

.cart-content {
  color: #333;
  margin-bottom: 100px;
}

.cart-content .total-info{
  color: #999;
}

.cart-content .total-price{
  font-size: 22px;
  color: #d4282d;
  font-weight: 700;
  margin-top: -5px !important;
  max-width: 100px !important;
}

.shop-bar .total-info{
  color: #999;
}

.shop-bar .total-price{
  font-size: 15px;
  color: #d4282d;
  font-weight: 700;
  margin-top: -5px !important;
}


.cart-content .btn-order{
  color: #fff;
  background-color: #b4a078;
  margin: -21px 0px 0px 30px;
  height: 66px;
  float: right;
}

.cart-content .btn-order > .row{
  line-height: 66px;
  margin: 0px !important;
  font-size: 24px;
}

.cart-content  .btn-order  a{
  color: #fff;
}

.cart-content  #btn-order{
  margin: -21px 0 0 30px;
}

.cart-content .btn-order .row{
    margin: 20px;
}
.cart-content .footer  > div > a{
  color: #333;
}

.cart-content .sub-title{
    color: #999;
}

.cart-content{
  color: #333;
  font-size: 14px;
}

.cart-content > a{
  color: #333;
}

.cart-content .item .checkbox{
  margin-top: 30px;
  padding-left: 30px;
}

.cart-content .footer .checkbox{
    margin-left: -30px;
}

.cart-content .footer > div{
    margin:0px;
}


.cart-content .inner-item .cell{
  margin-top: 30px;
}

// checkout
.cart_detail{
  margin: 100px;
}

//payment
.order-payment{
  margin: 100px;
}

.home-header{
  margin-bottom: 50px;
}

.carousel-control.left{
  background: rgba(0, 0, 0, 0);
}
.carousel-control.right{
  background: rgba(0, 0, 0, 0);
}
.carousel-img{
  width:100%;
  height: auto;
}

.product-detail,.favorite-page,.product-home, .order-page, .address-page, .edit-address, .new-address , .cart-detail, .payment-page, .upload-avatar-page ,.admin-edit-homead-page{
  width:1200px;
}

 .address-page, .edit-address, .new-address{
   margin-bottom: 100px;
 }

 .orderjs-page ,.addressJS-page .admin-categoryJS-page, .favoriteJS-page{
     width:800px;
 }

.orderjs-page .table{
  font-size: 12px;
}
 .usercenter-page{
   background: #F1F3FA;
 }

.usercenter-page .onffline-text{
      color: #d33;
}

.usercenter-page .fa-camera{
position: absolute;
font-size: 40px;
padding-top: 80px;
padding-left: 100px;
}
.upload-avatar-page .upload{
  margin: 40px;
}

.profile-userpic img{
  width: 120px !important;
  height: 120px !important;
  object-fit: cover;
}

.upload-avatar-page img{
  width: 120px !important;
  height: 120px !important;
  object-fit: cover;
}

.upload-avatar-page .form-group .control-label{
  margin-top: 20px;
}

.upload-avatar-page .form-group #user_avatar{
  margin: 30px 0;
}

.product-detail .preview-section {
  margin-right: 20px;
}

.product-home .products > .name {
    font-size: 24px;
    font-weight: 700;
    line-height: 44px;
    font-family: "Heiti SC","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",verdana;
}

.product_thumbnail > .product-name > a {
    text-decoration: none;
    font-size: 15px;
    color: #333;
    font-weight: 700;
    line-height: 44px;
    font-family: "Heiti SC","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",verdana;
}

.category-list .category-item > a {
    font-weight: 700;
    line-height: 44px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-family: "Heiti SC","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",verdana;
}

.category-list .category-item > a:hover , a:active {
    color: #e35150;
    padding-bottom: 4px;
    border-bottom: 2px solid #e35150;
}


.category-list .active{
  color: #e35150 !important;
  padding-bottom: 4px;
  border-bottom: 2px solid #e35150;
}

.admin-category-list > a:hover , a:active{
  text-decoration: none;
  color: #e35150 !important;
  padding-bottom: 4px;
  border-bottom: 2px solid #e35150;
}

.admin-category-list .active{
  text-decoration: none;
  color: #e35150 !important;
  padding-bottom: 4px;
  border-bottom: 2px solid #e35150;
}

// search
#search_field{
  border-bottom-width: 1px;
  border-bottom-color: #e35150;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  color: #999999;
  font-size: 18px;
}

#search_field{
  border-bottom-width: 1px;
  border-bottom-color: #e35150;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  color: #999999;
  font-size: 18px;
  outline: none;
}

#search_button{
    background: transparent;
    border: 0px;
    font-size: 20px;
    color: #e35150;
}

// review
.no-review{
  margin: 100px;
  font-size: 30px;
  font-weight: 100;
}

.review-list{
    margin-top: 40px;
    margin-bottom: 60px;
}
.review-list .user-info{
    padding: 10px;
}

.review-list .user-info .name{
      margin: 10px 5px;
      font-size: 12px;
      font-weight: 200;
}
.review-list .item{
  border-bottom: 1px dashed #e8e8e8;
  height: 140px;
}

.review-list .item > div , .review-content {
  height: 140px;
}

.review-list .form-group{
    margin-top: 40px;
}

.review-list .review-content{
  font-size: 24px;
  font-weight: 200;
}

.review-list .review-content .pull-right{
  font-size: 12px;
  font-weight: 300;
}

.review-list .review-time{
  font-size: 12px;
  font-weight: 200;
  line-height: 140px;
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  margin: 20px;
 }

  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em;
  }


  .cart-icon .fa-shopping-cart{
    color:#dc2735;
    font-size: 20px;
  }

    .cart-icon .fa-circle > div{
      color:#dc2735;
    }

    .cart-icon .badge{
      position: absolute;
      margin-left: -10px;
      background-color: rgba(51, 210, 221, 0.73);
      width: 20px;
      height: 20px;
    }

    .header .search-bar{
      margin: 0px -40px;
    }

    #my-popover-container{
      width: 370px !important;
    }

    .popover{
      border-radius: 0px !important;
      max-width: 380px !important;
    }

    .popover .popover-content{
      padding: 0 !important;
    }

    .shop-bar{
      background: #f6f3e0;
      padding: 4px
    }

    .shop-bar .btn-sm{
      margin-left: 30px;
      font-size: 9px;
      width: 80px;
    }

    .popover-content .product-list{
      margin: 5px;
    }

    .popover-content .product-list  img{
      object-fit:cover;
    }

    .popover-content .product-list .image{
      padding: 0px;
    }

    .popover-content .product-list .title{
        font-size: 14px;
        margin: 0px;
    }

    .popover-content .product-list > .row{
      margin-bottom: 4px;
    }

    .popover-content .product-list .simple-info{
      font-size: 14px;
      color: #999;
    }

    .popover-content .product-list .quantity{
      font-size: 14px;
      color: #999;
    }

    .popover-content .product-list .price{
        line-height: 50px;
    }

    .popover-content .product-list .fa-times{
      color: #333333;
    }

    // user center
    /***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

// body {
//   // background: #F1F3FA;
// }

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: white;
  background-color: #e35150;
  border-left: 4px solid #93a3b5;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

// checkout
.cart-detail .address-info{
  border: 1px solid #e8e8e8;

}

.cart-detail .address-info .header{
  padding-left: 21px;
  background-color: #f5f5f5;
  margin: 0px;
  padding: 10px 20px;
  font-size: 20px;
  color: #999;
}

.cart-detail .address-info .content{
  margin: 0px;
  padding: 10px 20px;
}

.cart-detail .address-info .content .default-address{
  margin: 10px 0px;
}

.cart-detail .address-info .line{
  width: 1px;
  background: #ccc;
  height: 40px;
}

.cart-detail .address-info .content .default-address .name{
  font-size: 18px;
  margin: 10px 0px;
  line-height: 2;
}

.cart-detail .address-info .content .default-address .value{
  font-size: 18px;
  color: #666;
}

.cart-detail .address-info .content .switch-address{
  line-height: 2;
  font-size: 20px;
  margin-top: -40px;
}

.cart_detail .thumbnail-info{

}

.cart-detail .product-list .table > thead {
   background-color: #f5f5f5;
   margin: 0px;
   padding: 10px 20px;
 }

 .cart-detail .product-list{
   margin-top: 40px;
   border: 1px solid #e8e8e8;
 }

 .cart-detail .order-bar{
    margin-bottom: 80px;
    padding: 20px 0px;
    border: 1px solid #e8e8e8;
    background: #e8e8e8;
 }

 .cart-detail .order-bar .total-price{
       line-height: 2;
       font-size: 22px;
       color: #d4282d;
       font-weight: 700;
       margin-left: 10px;
       margin-top: 10px !important;
       max-width: 100px !important;
 }

 .payment-page .total-price{
       line-height: 2;
       font-size: 22px;
       color: #d4282d;
       font-weight: 700;
       margin-left: 10px;
       margin-top: 10px !important;
       max-width: 100px !important;
 }

 .cart-detail .order-bar .btn-lg{
      width: 140px;
 }


 .modal {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
 }

 .modal-dialog {
   position: fixed;
   margin: 0;
   width: 40%;
   height: 40%;
   padding: 0;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) !important;
 }

 .modal-content {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   border: 2px solid #3c7dcf;
   border-radius: 0;
   box-shadow: none;
 }

.switch-address .btn-modal{
  border: 0px;
  background: transparent;
  color: #337ab7;
}
 .modal-body {
   position: absolute;
   top: 50px;
   bottom: 60px;
   width: 100%;
   font-weight: 300;
   overflow: auto;
 }

 .modal-footer {
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   height: 60px;
   padding: 10px;
   background: #f1f3f5;
 }

 .cart-detail .icon{
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
 }
 .cart-detail .select-address-list .active{
   border: 2px solid red;
   padding: 19px 24px;
 }

 .cart-detail .borderless{
   border: none;
 }

 // payment
.payment-page .order-number{
    color: #999!important;
    font-size: 16px;
 }

 .payment-page .header {
   padding-left: 21px;
   background-color: #f5f5f5;
 }

  .payment-page .footer{
    background: white;
  }

.payment-page .content{
  border: 1px solid #d7d7d7;
}

.payment-page .content .header{
  margin: 0;
  padding: 10px;
}

.payment-page .content .pay-method{
  margin: 10px 0;
}

// admin-home
.admin-homead-page .empty{
  font-weight: 100;
  margin-top: 100px;
}
.admin-homead-page .home-ad-img{
  width: 120px;
}
.admin-edit-homead-page .upload-ad-image{
  margin: 40px 0px;
}

.admin-product-page .edit-product{
  margin: 50px 0;
}
