/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar .navbar-brand{
  color: #ccc;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  color: #ccc;
}

.navbar-default .navbar-nav > li > a {
    color: #ccc;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #777;
}

.admin_body_container > .container-fluid {
  width: 1200px;
}

.body_container > .container-fluid {
  width: 1200px;
}

.admin_proudct_table{
  border: solid 3px #dcdcdc;
  box-shadow: 0 0 4px 1px #f2f2f2;
}

.admin_proudct_table th{
  background-color: #f2f2f2;
  color: #1366af;
  font-size: 18px;
  font-weight: 200;
};

.admin_proudct_table td{
  font-size: 16px;
  font-weight: 100;
}

.admin_btn_new{
  margin-bottom: 40px;
  margin-right: 100px;
}

.admin_product_info{
  font-size: 24px;
  margin: 5px 0;
}

.admin_product_info a{
  width: 120px;
  margin-top: 50px;
}

.admin_product_info .admin_product_info_title{
  font-size: 30px;
  margin: 10px 20px 10px 0;
}

.product_thumbnail img{
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: auto;
  object-fit: cover;
}

.product-detail-info{
  margin-top: 30px;
}

.product_thumbnail{
  width: 100%;
  height: 200px;
  margin-bottom: 80px;
}

.body_container{
  margin-bottom: 20px;
}

.products{
  border-top: none !important;
}

.products .table,
.products .table th,
.products .table tr,
.products .table td{
  border:none !important;
}


.btn-confirm-buy{
  margin: 50px 0px 100px 0;
}

.cart_title{
  font-size: 30px;
  margin: 10px 50px 10px 20px;
}

.btn-add-to-cart{
  width: 150px !important;
  margin-right: 30px;
}

.order_state{
  font-size: 30px;
  color:red;
}

#btn-cancel-order{
  margin-right: 20px;
}

// comm
.image-with-title > img{
  display: inline-block;
  width: 30px;
  margin-right: 10px;
}

.image-with-title > p {
      display: inline-block;
      font-size: 18px;
}



.list-inline > li {
  width: 30%;
}

.footer {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
 background-color: #414141;
 text-align: center;
}

.footer > hr {
  color: #999999;
}

.site-info {
  color: white;
}
.site-info .split{
  margin: auto 10px;
}

.site-info .text{
  color: #999999;
}

.site-info .copyright{
      font-size: 18px;
      color: #999999;
      margin-top: 4px;
}

// navbar
.navbar-default {
    background-color: #414141;
    border-color: #414141;
    margin-bottom: 0;
    height: 40px;
    vertical-align: middle;
    margin-left: -15px;
    margin-right: -15px;
  }

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.alert{
  margin-top: 10px;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.list-inline > li {
    width: 10%;
}

.product-image{
  width: 320px;
  height: 320px;
  border: solid 1px;
  border-color: #eee;
}

.product-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-small-image img{
  width: 100%;
  height: 80px;
  border: solid 1px;
  border-color: #eee;
  object-fit: cover;
}

.product-small-image{
  width: 80px;
  height: 80px;
}

.safe-info .interspace{
  width: 13px;
  height: 12px;
  vertical-align: middle;
  display: inline-block;
}

.product-info{
  background: #f5f3e0;
      color: #666;
  padding: 12px 20px;
  margin-top: 24px;
}

.product-info .num{
    font-size: 28px;
    line-height: 30px;
    margin-left: 2px;
    color: #d7282d;
}
.product-info > div{
  margin: 10px
}

.sale-info .server{
  display: inline-block;
}

.sale-info .row{
  margin-top: 10px;
}

.sale-info .fa-circle{
  margin-right: 5px;
  font-size: 4px;
}

.detail-btn-add-to-cart{
  display: inline-block;
  margin-left: 30px;
}
.product-info .left-title{
    margin-right: 20px;
}

.product-info .title{
  float: left;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 7px;
}

.product-info .sub-title{
    width: 300px;
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 13px;
    line-height: 18px;
    color: #999;
}
.btn-favorite{
    width: 60px;
    height: 45px;
    font-size: 12px;
    margin-left: 30px;
}

.other-views{
    height: 44px;
    line-height: 44px;
    font-size: 17px;
    position: relative;
    background-color: #f5f5f5;
    margin: 24px;
    width: 100%;
    overflow: hidden;
    margin-top: 22px;
    border: 1px solid #e8e8e8;
}

.other-views .header{
    text-indent: 18px;
    background-color: #f5f5f5;
}

.other-views .header .item .show {
    display: inline-block;
}

.other-views .content .item {
    display: none;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.sum-info{
margin: 20px;
}

.sum-info .item{
  padding: 8px 30px;
  float: left;
  min-width: 50%;
  line-height: 24px;
  font-size: 14px;
  border-bottom: 1px dashed #e8e8e8;
}
.sum-info .name{
  display: block;
  width: 105px;
}

.sum-info .value{
    float: left;
    color: #999;
}

.sum-images{
  margin-top: 40px;
  margin-left: 20px;
}

.right{
  float: right;
  width: 300px;
  margin-top: 20px;
  margin-right: 40px;
}

.hot24{
    border: 1px solid #e8e8e8;
    margin-bottom: 20px;
    margin-left: -20px;
}

.hotSell .item {
    margin-top: 24px;
    margin-left: -15px;
}


.hot24 .header{
    line-height: 41px;
    background-color: #f5f5f5;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

.hot24 ol, ul{
  list-style: none;
}

.hot24 .img-wrap{
    position: relative;
}

.hot24 .img-wrap .colorNum{
  position: absolute;
  font-size: 12px;
  color: #a7936e;
  border: 1px solid #b3a07d;
  border-radius: 5px;
  height: 20px;
  text-align: center;
  left: 0;
  padding: 0 4px;
}

.hotSell .item {
    margin-top: 24px;
}
.hotSell .item .content {
    padding: 0 5px 18px;
}

.hotSell .item .content .title {
    margin-bottom: 8px;
    text-align: center;
}

.hotSell .item .content .price {
    font-size: 14px;
    line-height: 1;
    color: #d62525;
    text-align: center;
}

.new_user{
  margin: 20px;
}


// cart page
.cart-content .header > div {
  display: inline-block;
  margin: 20px 0px;
}
.cart-content .header{
    margin: 20px 0px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

.cart-content .m-boby{
    margin: 20px 0px;

}
.cart-content .m-boby  .inner-item{
    display: inline-block;
}

.cart-content .m-boby  .item{
    margin: 10px 0px;

}

.cart-content .m-boby .adjust-quantity{
  border: 1px solid #ddd;
  display: inline-block;
}

.inner-item .adjust-quantity{
  padding: 0px;
}
.inner-item .adjust-quantity .adjust-item-num{
  display: inline-block;
}
.adjust-quantity .adjust-item-add{
  border: 0px solid #ddd;
  border-left-width: 1px;
  display: inline-block;
}

.adjust-quantity .adjust-item-minus{
  border:0px solid #ddd;
  border-right-width: 1px;
  display: inline-block;
}

.adjust-quantity .adjust-item-add > a{
  color: #ddd;
}

.adjust-quantity .adjust-item-minus > a{
  color: #ddd;
}

.cart-content .footer {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  height: 66px;
  color: #333;
  margin: 20px 0px;
}

.cart-content {
  color: #333;
  margin-bottom: 100px;
}

.cart-content .total-info{
  color: #999;
}

.cart-content .total-price{
  font-size: 22px;
  color: #d4282d;
  font-weight: 700;
  margin-top: -5px !important;
}

.cart-content .btn-order{
  color: #fff;
  background-color: #b4a078;
  margin: -21px 0px 0px 30px;
  height: 66px;
}

.cart-content  .btn-order  a{
  color: #fff;
}

.cart-content  #btn-order{
  margin: -21px 0 0 30px;
}

.cart-content .btn-order .row{
    margin: 20px;
}
.cart-content .footer  > div > a{
  color: #333;
}

.cart-content .sub-title{
    color: #999;
}

.cart-content{
  color: #333;
  font-size: 14px;
}

.cart-content > a{
  color: #333;
}

.cart-content .item .checkbox{
  margin-top: 30px;
  padding-left: 30px;
}

.cart-content .footer .checkbox{
    margin-left: -30px;
}

.cart-content .footer > div{
    margin:0px;
}


.cart-content .inner-item .cell{
  margin-top: 30px;
}

// checkout
.cart_detail{
  margin: 100px;
}

//payment
.order-payment{
  margin: 100px;
}

.home-header{
  margin-bottom: 50px;
}

.carousel-control.left{
  background: rgba(0, 0, 0, 0);
}
.carousel-control.right{
  background: rgba(0, 0, 0, 0);
}
.carousel-img{
  width:100%;
  height: auto;
}

.product-detail,.favorite-page,.product-home{
  width:1200px;
}

.product-detail .preview-section {
  margin-right: 20px;
}

.product-home .products > .name {
    font-size: 24px;
    font-weight: 700;
    line-height: 44px;
    font-family: "Heiti SC","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",verdana;
}

.product-home .products .product_thumbnail > .product-name > a {
    text-decoration: none;
    font-size: 15px;
    color: #333;
    font-weight: 700;
    line-height: 44px;
    font-family: "Heiti SC","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",verdana;
}

.category-list .category-item > a {
    font-weight: 700;
    line-height: 44px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-family: "Heiti SC","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",verdana;
}

.category-list .category-item > a:hover , a:active {
    color: #e35150;
    border-bottom: #e35150;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 4px;
}
