<div class="row ">
  <div class="col-md-6 item">
    <span class="name">材质</span> <span class="value"></span>
  </div>
  <div class="col-md-6 item">
    <span class="name">适用年龄</span> <span class="value"></span>
  </div>
</div>
<div class="row ">
  <div class="col-md-12 item">
    <span class="name">规格</span> <span class="value"></span>
  </div>
</div>
<div class="row ">
  <div class="col-md-12 item">
    <span class="name">注意事项</span> <span class="value"></span>
  </div>
</div>
